.root {
	-fx-background-color: #D8D8D8;
}

.stackpane {
	-fx-text-alignment: CENTER;
	-fx-background-radius: 5px;
	-fx-background-color: #303E9F;
}

.textLabel {
	-fx-text-alignment: CENTER;
	-fx-background-radius: 5px;
	-fx-background-color: #303E9F;
	-fx-font-family: "arial";
	-fx-font-weight: 900;
	-fx-font-size: 13px;
	-fx-fill: white;
}

.textfield {
	-fx-font-family: "arial";
	-fx-text-fill: black;
	-fx-background-radius: 5px;
	-fx-background-color: white;
	-fx-border-color: black;
	-fx-border-width: 1;
	-fx-border-radius: 5px;
}

.textarea .content {
	-fx-background-radius: 5px;
	-fx-background-color: white;
	-fx-border-color: black;
	-fx-border-radius: 5px;
	-fx-border-width: 1;
}

.textarea {
	-fx-font-family: "arial";
	-fx-text-fill: black;
	-fx-wrap-text: true;
	-fx-border-color: transparent;
	-fx-border-radius: 5px;
	-fx-border-width: 1;
	-fx-background-color: transparent;
	-fx-background-radius: 5px;
}

.textarea .viewport {
	-fx-border-color: transparent;
	-fx-background-color: transparent;
}

.feedback {
	-fx-background-radius: 5px;
	-fx-background-color: white;
}

.button {
	-fx-background-radius: 10px;
	-fx-background-color: derive(#303E9F, 25%);
	-fx-border-radius: 10px;
	-fx-border-color: #303E9F;
	-fx-border-width: 2;
	-fx-font-family: "arial";
	-fx-font-weight: 500;
	-fx-font-size: 16px;
	-fx-text-fill: white;
}
