/*@@author 17navasaw*/
.background {
    -fx-background-color: derive(#40593c, 20%);
    background-color: #40593c; /* Used in the default.html file */
}

.label {
    -fx-font-size: 14pt;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: #00c1a7;
    -fx-opacity: 0.9;
}

.list-cell:filled:even {
    -fx-background-color: #025b87;
}

.list-cell:filled:odd {
    -fx-background-color: #19a1e5;
}

.list-cell:filled:selected {
    -fx-background-color: #808080;
}
