
/* @@author deep4k */
/* ========== FONTS ==========*/
@font-face {
    font-family: Old Standard TT;
    src: url("/fonts/OldStandard-Regular.ttf");
}

/* ========== JAVAFX ELEMENTS ==========*/

.pane-with-border {
    -fx-background-color: #222646;
    -fx-border-color: transparent;
    -fx-border-top-width: 1px;
}

/* ========== MENU BAR ==========*/
.context-menu {
    -fx-background-color: #242b51;
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: #242b51;
}

.menu-bar .label {
    -fx-background-color: #242b51;
    -fx-font-size: 12pt;
    -fx-font-family: "Old Standard TT";
    -fx-text-fill: #fffefd;
}

.menu:showing{
    -fx-background-color: transparent;
}

.menu:hover{
    -fx-background-color: transparent;
}

.menu:hover .label {
    -fx-text-fill: #71ffa0;
}

.menu:showing .label {
    -fx-text-fill: #71ffa0;
}

.menu-item:focused {
    -fx-background-color: transparent;
}

.menu-item:focused .label {
    -fx-text-fill: #ffdf00;
}

/* ========== COMMAND BOX ==========*/

.command-pane {
    -fx-background-color: derive(#222646, 10%);
    -fx-background-radius: 10 10 10 10;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Old Standard TT";
    -fx-font-size: 13pt;
    -fx-text-fill: derive(#71ffa0,-20%);
}

