.background {
    -fx-background-color: derive(#d4cbb3, 50%);
    background-color: derive(#d4cbb3, 50%); /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: monospace;
    -fx-text-fill: #6B4A40;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: monospace;
    -fx-text-fill: #6B4A40;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: monospace;
    -fx-text-fill: #6B4A40;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: monospace;
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
    -fx-border-color: #d4cbb3;

}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: monospace;
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#d4cbb3, 50%);
    -fx-border-color: transparent transparent transparent transparent;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-border-top-width: 1px;;
    -fx-background-color: derive(#d4cbb3, 50%);
}

.split-pane-no-color {
 -fx-background-color: transparent;
 -fx-border-color: transparent transparent transparent transparent;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
    -fx-background-insets: 0px, 2px;
}

.list-cell:filled:even {
    -fx-background-color: derive(#d4cbb3, 30%);
}

.list-cell:filled:odd {
    -fx-background-color: derive(#6B4A40, 80%);
}

.list-cell:filled:selected {
    -fx-border-color: yellow;
    -fx-border-width: 1;
    -fx-background-color: #ffff99;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #3e7b91;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: black;
}

.cell_big_label {
    -fx-font-family: monospace;
    -fx-font-size: 24px;
    -fx-text-fill: #6B4A40;
}

.cell_small_label {
    -fx-font-family: monospace;
    -fx-font-size: 16px;
    -fx-text-fill: #6B4A40;
}

.anchor-pane {
    -fx-background-color: #d3d5d7;
}

.pane-with-border {
    -fx-background-color: derive(#d4cbb3, 20%);
    -fx-border-color: derive(#d4cbb3, 20%);
    -fx-border-width: 10px;
}

.pane-without-border {
    -fx-background-color: derive(#d4cbb3, 50%);
}

.pane-browser {
    -fx-border-width: 1;
}

.status-bar {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-text-fill: black;
}

.result-display {
    -fx-background-color: derive(#d4cbb3, 50%);
    -fx-font-family: monospace;
    -fx-font-size: 13pt;
    -fx-font-weight: bolder;
    -fx-text-fill: #6B4A40;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: monospace;
    -fx-text-fill: #6B4A40;
}

.status-bar-with-border {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: #6B4A40;
}

.grid-pane {
    -fx-background-color: derive(#d4cbb3, 50%);
    -fx-border-color: transparent;
    -fx-border-width: 1px;
}

.grid-pane .anchor-pane {
    -fx-background-color: #d4cbb3;
    -fx-text-fill: #edafb8;
}

.context-menu {
    -fx-background-color: #d4cbb3;
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: #d4cbb3;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: monospace;
    -fx-text-fill: #6B4A40;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.keyword-label-default {
    -fx-font-family: monospace;
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

.keyword-label-xsmall {
        -fx-font-family: monospace;
        -fx-font-size: x-small;
        -fx-text-fill: white;
}

.keyword-label-small {
        -fx-font-family: monospace;
        -fx-font-size: small;
        -fx-text-fill: white;
}

.keyword-label-large {
        -fx-font-family: monospace;
        -fx-font-size: x-large;
        -fx-text-fill: white;
}

.keyword-label-xlarge {
        -fx-font-family: monospace;
        -fx-font-size: xx-large;
        -fx-text-fill: white;
}





/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: monospace;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: derive(#d4cbb3, 50%);;
}

.scroll-bar .thumb {
    -fx-background-color: #6B4A40;
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: derive(#A9A9A9, 20%);
    -fx-background-insets: 0;
    -fx-border-color: derive(#d4cbb3, 20%);
    -fx-border-insets: 0;
    -fx-border-width: 2;
    -fx-font-family: monospace;
    -fx-font-weight: bolder;
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

#commandTextFieldKeyword {
    -fx-background-color: transparent #383838 transparent #383838;
    -fx-background-insets: 0;
    -fx-border-color: transparent #383838 transparent #383838;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: monospace;
    -fx-font-size: 13pt;
    -fx-text-fill: #6B4A40;
}

#commandTextDefault {
    -fx-font-family: monospace;
    -fx-font-size: 13pt;
    -fx-text-fill: #6B4A40;
}

#commandTextXsmall{
    -fx-font-family: monospace;
    -fx-font-size: x-small;
    -fx-text-fill: #6B4A40;
}

#commandTextSmall{
    -fx-font-family: monospace;
    -fx-font-size: small;
    -fx-text-fill: #6B4A40;
}

#commandTextLarge{
    -fx-font-family: monospace;
    -fx-font-size: x-large;
    -fx-text-fill: #6B4A40;
}

#commandTextXLarge{
    -fx-font-family: monospace;
    -fx-font-size: xx-large;
    -fx-text-fill: #6B4A40;
}


#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: transparent, derive(#d4cbb3, 50%), transparent, derive(#d4cbb3, 50%);
    -fx-background-radius: 0;
}

#lecturers {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#lecturers .label {
    -fx-text-fill: derive(#d4cbb3, 50%);
    -fx-background-color: #6B4A40;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 18;
}

#lessonNode {
    -fx-font-family: monospace;
    -fx-font-size: large;
    -fx-font-weight: bolder;
    -fx-control-inner-background: #6B4A40;
    -fx-text-fill: derive(#d4cbb3, 50%);
    -fx-text-alignment: center;
}


#stickyNote {
    -fx-background-color: transparent;
    -fx-padding:5px 5px 5px;
    -fx-font:20px 'Gloria Hallelujah', cursive;
    -fx-line-height:1.5;
}

#stickyNote .scroll-pane {
    -fx-background-color: transparent;
}

#stickyNote  .scroll-pane .viewport{
    -fx-background-color: transparent;
}


#stickyNote  .scroll-pane .content{
    -fx-background-color: transparent;
}
