/* @@author deep4k */
/* refer to BluebirdTheme.css for clearer separation between regions*/
@font-face {
    font-family: Space Mono;
    src: url("/fonts/SpaceMono-Regular.ttf");
}

@font-face {
    font-family: Old Standard TT;
    src: url("/fonts/OldStandard-Regular.ttf");
}

@font-face {
    font-family: Space Mono Italic;
    src: url("/fonts/SpaceMono-Italic.ttf");
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent derive(-fx-base, 80%) transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: #1a1e37;
    -fx-border-color: transparent;
}

.split-pane:vertical .split-pane-divider {
    -fx-background-color: white;
    -fx-padding: 0.000001;
}

.split-pane:vertical .label {
    -fx-text-fill: white;
}

.split-pane {
    -fx-background-color: #1a1e37;
}

.list-view {
    -fx-background-insets: 0;
    -fx-background-color: derive(#1a1e37, 20%);
    -fx-border-color: transparent;
    -fx-padding: 0;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap: 0;
    -fx-padding: 0 0 0 0;
    -fx-background-color: derive(#1a1e37, 20%);
}

.list-cell:filled:even {
    -fx-background-color: derive(#1a1e37, 20%);
}

.list-cell:filled:odd {
    -fx-background-color: derive(#1a1e37, 30%);
}

.list-cell:filled:selected {
    -fx-background-color: #1a1e37;
    -fx-background-radius: 10 10 10 10;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: transparent;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-font-family: "Space mono";
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

.anchor-pane {
    -fx-background-color: transparent;
}

.pane-with-border {
    -fx-background-color: #1a1e37;
    -fx-border-color: transparent;
    -fx-border-top-width: 1px;
}

.status-bar {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-text-fill: black;
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Old Standard TT";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

.result-display *.text {
    -fx-text-alignment: center;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "PT Serif";
    -fx-text-fill: white;
    -fx-font-size: 9pt;
}

.status-bar-with-border {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color: #1a1e37;
}

.grid-pane .anchor-pane {
    -fx-background-color: #1a1e37;
}

.context-menu {
    -fx-background-color: #1a1e37;
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: #1a1e37;
}

.menu-bar .label {
    -fx-background-color: #1a1e37;
    -fx-font-size: 12pt;
    -fx-font-family: "PT Serif";
    -fx-text-fill: #fffefd;
}

.menu:showing{
    -fx-background-color: transparent;
}

.menu:hover{
    -fx-background-color: transparent;
}

.menu:hover .label {
    -fx-text-fill: #71ffa0;
}

.menu:showing .label {
    -fx-text-fill: #fefdff;
}

.menu-item:focused {
    -fx-background-color: transparent;
}

.context-menu .button {
    -fx-background-color: #1a1e37;
}

.menu-item:focused .label {
    -fx-text-fill: #71ffa0;
}


/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: derive(#1a1e37, 20%);
}

.scroll-bar .thumb {
    -fx-background-color: #1a1e37;
    -fx-background-radius: 18 18 18 18;
    -fx-background-insets: 1;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 8 3 8 3;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 3 8 3 8;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.command-pane {
    -fx-background-color: derive(#1a1e37, 20%);
    -fx-background-radius: 10 10 10 10;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Old Standard TT";
    -fx-font-size: 13pt;
    -fx-text-fill: derive(#71ffa0,-20%);
}

#resultDisplay {
    -fx-font-size: 18;
}

#resultDisplay .content {
    -fx-background-color: #1a1e37;
    -fx-background-radius: 0;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: papayawhip;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}



#sortMenuBox .context.menu {
    -fx-background-color: #1a1e37;
}

.menu-button {
    -fx-background-color: #1a1e37;
}

.menu-button:hover .label {
    -fx-text-fill: #71ffa0;
}

.menu-button:showing .label {
    -fx-text-fill: #fefdff;
}

.menu-item:focused .label {
    -fx-text-fill: #71ffa0;
}

.menu-button:hover .arrow {
    -fx-background-color:  #71ffa0;
}

.menu-button:showing .arrow {
    -fx-background-color:  #71ffa0;
}

#sortMenuBox .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Old Standard TT";
}

#searchBox {
    -fx-background-color: #1a1e37;
}

#sortMenuBox .text-field {
    -fx-background-color:#1a1e37;
    -fx-font-size: 12pt;
    -fx-font-family: "Old Standard TT";
    -fx-text-fill: derive(#71ffa0,-20%);
    
}

#personList {
    -fx-background-color:#1a1e37;
    -fx-border-color: transparent;
}

#personViewLabel {
    -fx-font-family: "Old Standard TT";
    -fx-font-size: 10pt;
}

#taskViewLabel {
    -fx-font-family: "Old Standard TT";
    -fx-font-size: 10pt;
}

#aliasViewLabel {
    -fx-font-family: "Old Standard TT";
    -fx-font-size: 10pt;
}

#listAllLabel {
    -fx-font-family: "Old Standard TT";
    -fx-font-size: 10pt;
}

#listPinLabel {
    -fx-font-family: "Old Standard TT";
    -fx-font-size: 10pt;
}

#organizedByLabel {
    -fx-font-family: "Old Standard TT";
    -fx-font-size: 10pt;
}

#organizerLabel {
    -fx-font-family: "Old Standard TT";
    -fx-font-size: 10pt;
}

#personListPanelPlaceholder {
    -fx-border-color: transparent;
}

#personListView {
    -fx-background-color: derive(#1a1e37, 20%);
    -fx-background-radius: 10 10 10 10;
    -fx-border-color: transparent;
}

#personListPanel {
    -fx-background-color: derive(#1a1e37, 20%);
    -fx-background-radius: 10 10 10 10;
    -fx-border-color: transparent;
}

#name {
    -fx-font-size: 15px;
}

#remark {
    -fx-font-family: "Space Mono Italic";
    -fx-text-fill: gray;
}

#taskListView {
    -fx-background-color: derive(#1a1e37, 20%);
    -fx-background-radius: 10 10 10 10;
    -fx-border-color: transparent;
}

#taskListPanel {
    -fx-background-color: derive(#1a1e37, 20%);
    -fx-background-radius: 10 10 10 10;
    -fx-border-color: transparent;
}

#time {
    -fx-font-family: "Space Mono Italic";
    -fx-font-size: 12px;
    
}

#time {
    -fx-font-family: "Space Mono Italic";
    -fx-font-size: 12px;
    -fx-text-fill: gold;

}

#header {
    -fx-font-size: 15px;
}

#aliasListView {
    -fx-background-color: derive(#1a1e37, 20%);
    -fx-background-radius: 10 10 10 10;
    -fx-border-color: transparent;
}

#aliasListPanel {
    -fx-background-color: derive(#1a1e37, 20%);
    -fx-background-radius: 10 10 10 10;
    -fx-border-color: transparent;
}

#representation {
    -fx-font-family: "Space Mono Italic";
    -fx-font-size: 15px;
}

#keyword {
    -fx-font-family: "Space Mono Italic";
    -fx-font-size: 15px;
}

#representationLabel {
    -fx-font-family: "Space Mono Italic";
    -fx-font-size: 15px;
}

#keywordLabel {
    -fx-font-family: "Space Mono Italic";
    -fx-font-size: 15px;
}

#overlayGrid {
    -fx-background-color: derive(#1a1e37, 20%); 
    -fx-border-color: transparent;
}

#helpOverlay {
    -fx-background-color: derive(#1a1e37, 20%);
    -fx-border-color: transparent;
}

#overlayGrid .label {
    -fx-font-family: "Space Mono";
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

#overlayGrid .text-field {
    -fx-font-family: "Space Mono";
    -fx-font-size: 12px;
}




