//@@author sushinoya

/*BASE STYLING*/
.background {
    -fx-background-color: #232A34;
    background-color: #383838; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #232A34;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: #232A34;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: #232A34;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #232A34;
}


/*TAB AND TAB PANE STYLING*/
.tab-pane {
    -fx-padding: 0 0 0 1;
    -fx-background-color: #232A34;
}

.tab-pane .tab-header-area {
    -fx-background-color: #232A34;
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width:115px;
}

.tab {
    -fx-background-insets: 0 1 0 1,0,0;
}

.tab-pane .tab {
    -fx-background-color: #404040;

}

.tab-pane .tab:selected {
    -fx.border-color: transparent !important;
    -fx-background-color: #336D1C;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #f3f3f3;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx.border-color: transparent !important;
    -fx-text-fill: white;
}


/*SPLIT PANE AND LIST CSS*/
.pane-with-border {
     -fx-background-color: #232A34;
     -fx-border-color: derive(#1d1d1d, 10%);
     -fx-border-top-width: 1px;
}

#calendarDaysPane {
    -fx-background-color: transparent;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: #232A34;
    -fx-border-width: 0;
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-background-color: #232A34;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: #232A34;
}

.list-cell:filled:odd {
    -fx-background-color: #232A34;
}

.list-cell:filled:selected {
    -fx-background-color: #232A34;
}

.list-cell:filled:selected #cardPane {
    -fx-background-color: #410964 !important;
}

.list-cell .label {
    -fx-text-fill: white;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

.anchor-pane {
     -fx-background-color: #232A34;
}

.status-bar {
    -fx-background-color: #232A34;
    -fx-text-fill: black;
}

.result-display {
    -fx-background-color: #232A34;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
}

.status-bar-with-border {
    -fx-background-color: #232A34;
    -fx-border-color: derive(#1d1d1d, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color: #232A34;
    -fx-border-color: derive(#1d1d1d, 30%);
    -fx-border-width: 1px;
}

.grid-pane .anchor-pane {
    -fx-background-color: #232A34;
}

.context-menu {
    -fx-background-color: #232A34;
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: #232A34;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: #232A34;
}


/*BUTTON SYTLING*/
.button {
    -fx-padding: 2 4 2 4;
    -fx-border-color: white;
    -fx-border-radius: 4;
    -fx-border-width: 1;
    -fx-background-radius: 4;
    -fx-background-color: black;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #232A34;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #232A34;
  -fx-text-fill: #1d1d1d;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #232A34;
    -fx-text-fill: white;
}

.button:default {
    -fx-padding: 0 500 0 500;
    -fx-background-color: #232A34;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: #232A34;
}

/*BUTTON SYTLING IN PERSON PANEL*/
#resetImageButton, #addImageButton {
    -fx-min-width: 70;
}


/*DIALOG PANE STYLING*/
.dialog-pane {
    -fx-background-color: #232A34;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #232A34;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: #232A34;
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}


/*SCROLL BAR STYLING*/
.scroll-bar {
    -fx-background-color: #232A34;
}

.scroll-bar .thumb {
    -fx-background-color: #232A34;
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: #232A34;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

.scroll-bar {
    -fx-background-color: #232A34;

}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-radius: 0em;
	-fx-border-radius: 1em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
	-fx-background-insets: 1, 0, 0;
	-fx-background-radius: 1em;
}


/*CARD PANE STYLING*/
#cardPane {
    -fx-background-color: #232A34;
    -fx-border-width: 0;
}

.highlightedCardPane {
    -fx-background-color: #CA9733;
    -fx-border-width: 0;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
}


/*COMMAND FIELD STYLING*/
#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: #404040;
    -fx-background-insets: 0;
    -fx-border-color: #404040 #404040 #404040 #404040;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: #A6A6A6;
}

/* //@@author shitian007 */
.auto-complete-popup .list-cell {
    -fx-background-color: transparent;
    -fx-font-size: 11pt;
}

.auto-complete-popup .clipped-container {
    -fx-font-family: "Verdana";
    -fx-background-color: grey;
    -fx-background-radius: 2px;
}
/* //@@author */

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: #232A34;
    -fx-background-radius: 0;
    -fx-text-fill: #A6A6A6;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #232A34;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}


/*PERSON PANEL STYLING*/
#personPanel {
    -fx-background-color: #232A34;
    -fx-padding: 61 35 50 35;
}

#personDetailsBox {
    -fx-padding: 20 20 20 20;
    -fx-background-color: #404040;
    -fx-text-color: white !important;
}

#personDetailsBox #name {
    -fx-padding: 7, 0, 0, 0;
}

#name, #phone, #address, #email {
    -fx-text-fill: white !important;
}

.label {
    -fx-text-fill: #C99733;
}
