<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="DarkTheme.css">
</head>
<!--@@author hansiang93-->
<body class="background">
<div class=fakeMenu>
    <div class="fakeButtons fakeClose"></div>
    <div class="fakeButtons fakeMinimize"></div>
    <div class="fakeButtons fakeZoom"></div>
</div>
<div class="fakeScreen">
    <p class="line1">&#91;&nbsp;&ldquo;Thank you for choosing Social Book!.&rdquo;,<span class="cursor1">_</span></p>
    <p class="line2">&nbsp;&nbsp;&ldquo;We hope you enjoy this CLI-based contacts book.&rdquo;,<span class="cursor2">_</span></p>
    <p class="line3">&nbsp;&nbsp;&ldquo;Press the F1 button to see the UserGuide and get started &rdquo;<span class="cursor3">_</span></p>
    <p class="line4">&nbsp;&nbsp;&ldquo;Contact us at 'https://github.com/CS2103AUG2017-F11-B2/main' for any issues &rdquo;&nbsp;&#93;<span class="cursor4">_</span></p>
    <p class="line5">> (:<span class="cursor5">_</span></p>
    <p></p>
    <p></p>
    <p></p>
    <!--adapted from https://codepen.io/joshcummingsdesign/pen/qOKaWd-->
</div>
</body>
</html>
