<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="DarkTheme.css">
</head>

<body class="background">
<div class="container">
    <h1 class="header" align="center" >TheYellowPage</h1>
    <p class="text"  align="center">Making Address Books great again!</p>
</div>

<div class="container" align="center">
    <p class="text">
    Start adding and finding the contacts you want today!
</p>
    <p class="text">
    <img src="../images/gps.png" alt="gps" style="float:left;width:20px;height:20px;">
    A user friendly interface for you and me
</div>
</body>
</html>
