/* @@author vsudhakar */
.background {
    -fx-background-color: #D8D8D8;
    background-color: #383838; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: #D8D8D8;
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: #D8D8D8;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: #D8D8D8;
}

.list-view .virtual-flow .corner {
    -fx-background-color: red;
}

.list-cell {
    -fx-background-radius: 7px;
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
     -fx-background-radius: 7px;
     -fx-background-color: #D8D8D8;
     -fx-border-radius: 7px;
     -fx-border-color: #D8D8D8;
}

.list-cell:filled:even {
    -fx-background-radius: 10px;
    -fx-background-color: derive(#4051B5, 50%);
    -fx-border-radius: 7px;
    -fx-border-color: #D8D8D8;
    -fx-border-width: 3;
}

.list-cell:filled:odd {
    -fx-background-radius: 10px;
    -fx-background-color: derive(#4051B5, 50%);
    -fx-border-radius: 7px;
    -fx-border-color: #D8D8D8;
    -fx-border-width: 3;
}

.list-cell:filled:selected {
    -fx-background-radius: 10px;
    -fx-background-color: derive(#4051B5, 25%);
}

.list-cell:filled:selected #cardPane {
    -fx-border-radius: 5px;
    -fx-border-color: #4051B5;
    -fx-border-width: 3;
}

.list-cell:empty {
    -fx-background-color: #D8D8D8;
}

.list-cell .label {
    -fx-text-fill: white;
}

#personList {
    -fx-background-color: #D8D8D8;
}

.root {
    -fx-background-color: #D8D8D8;
}

.cell_big_label {
    -fx-font-family: "arial";
    -fx-font-size: 16px;
    -fx-font-weight: 900;
    -fx-text-fill: black !important;
    -fx-line-spacing: 2;
}

.cell_small_label {
    -fx-font-family: "arial";
    -fx-font-size: 13px;
    -fx-text-fill: black !important;
    -fx-line-spacing: 1.5;
}

.anchor-pane {
     -fx-background-color: transparent;
}

.pane-with-border {
     -fx-background-color: #D8D8D8;
}

.status-bar {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: black;
}

.result-display {
    -fx-text-fill: black;
    -fx-font-family: "arial";
    -fx-font-size: 13pt;
    -fx-background-radius: 5px;
    -fx-background-color: #D8D8D8;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 5px;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
}

.status-bar-with-border {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 30%);
    -fx-border-width: 1px;
}

.grid-pane .anchor-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
}

.context-menu {
    -fx-background-color: #282E3C;
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: #4051B5;
}

.menu-bar .label {
    -fx-font-size: 9pt;
    -fx-font-family: "arial";
    -fx-text-fill: white;
}

.menu .left-container {
    -fx-background-color: black;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: white;
}

.scroll-bar .thumb {
    -fx-background-color: derive(#1d1d1d, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-radius: 5px;
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-border-color: #4051B5;
    -fx-border-radius: 5px;
    -fx-padding: 10 0 10 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-font-family: "arial";
   	-fx-text-fill: black;
   	-fx-background-radius: 5px;
   	-fx-background-color: #FFFFFF;
   	-fx-border-color: black;
   	-fx-border-width: 1;
   	-fx-border-radius: 5px;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 0;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: black;
    -fx-background-color: #74EDB4;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

#nameField {
    -fx-font-family: "arial";
    -fx-font-size: 9pt;
    -fx-text-fill: black;
    -fx-background-radius: 5px;
    -fx-background-color: #FFFFFF;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 5px;
}

#phoneField {
    -fx-font-family: "arial";
    -fx-font-size: 9pt;
    -fx-text-fill: black;
    -fx-background-radius: 5px;
    -fx-background-color: #FFFFFF;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 5px;
}

#emailField {
    -fx-font-family: "arial";
    -fx-font-size: 9pt;
    -fx-text-fill: black;
    -fx-background-radius: 5px;
    -fx-background-color: #FFFFFF;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 5px;
}

#tagsField {
    -fx-font-family: "arial";
    -fx-font-size: 9pt;
    -fx-text-fill: black;
    -fx-background-radius: 5px;
    -fx-background-color: #FFFFFF;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 5px;
}

#addressField {
    -fx-font-family: "arial";
    -fx-font-size: 9pt;
    -fx-text-fill: black;
    -fx-background-radius: 5px;
    -fx-background-color: #FFFFFF;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 5px;
}

#searchBarLabel {
    -fx-text-alignment: CENTER;
	-fx-background-radius: 5px;
	-fx-background-color: #303E9F;
	-fx-font-family: "arial";
	-fx-font-weight: 900;
	-fx-font-size: 13px;
	-fx-text-fill: white;
}

#loginButton, #sendButton {
    -fx-background-radius: 10px;
	-fx-background-color: derive(#303E9F, 25%);
	-fx-border-radius: 10px;
	-fx-border-color: #303E9F;
	-fx-font-family: "arial";
	-fx-font-weight: 500;
	-fx-font-size: 16px;
	-fx-text-fill: white;
}

.textfield {
	-fx-font-family: "arial";
	-fx-text-fill: black;
	-fx-font-size: 9pt;
	-fx-background-radius: 5px;
	-fx-background-color: #FFFFFF;
	-fx-border-color: black;
	-fx-border-width: 1;
	-fx-border-radius: 5px;
}

.default {
    -fx-background-color: #D8D8D8;
}
