#fbChart .chart-title {
    -fx-font-family: "Arial Black";
    -fx-text-fill: #F8F8F8 ;
}
#twChart .chart-title {
    -fx-font-family: "Arial Black";
    -fx-text-fill: #F8F8F8 ;
}
#igChart .chart-title {
    -fx-font-family: "Arial Black";
    -fx-text-fill: #F8F8F8 ;
}
#personAddedChart .chart-title {
    -fx-font-family: "Arial Black";
    -fx-text-fill: #F8F8F8 ;
}
