/* @@author keithsoc */
/* Begin Styling for Default Web Page (used in default.html file) */

.background {
    background-color: #272822;
    background-image: url("../images/background_night.png");
}

.center {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.text {
    font-family: "Segoe UI";
    font-size: 25px;
    color: white;

    display: inline-block;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50px;
    padding: 10px 30px 12px 30px;
}

/* Begin Styling for JavaFX components */

/* Round Borders */

#rootVBox {
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

#statusBarFooter, #syncStatus, #saveLocationStatus {
    -fx-border-radius: 0 0 10 10;
    -fx-background-radius: 0 0 10 10;
}

/* Tab Pane */

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

/* Table View */

.table-view {
    -fx-base: #d13438;
    -fx-control-inner-background: #d13438;
    -fx-background-color: #d13438;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent derive(-fx-base, 80%) transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

/* Split Pane Divider */

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#3d3e35, 20%);
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
    -fx-background-insets: 5 0 0 0;
}

/* Split Pane Consisting of Person List Cards + Browser Panel */

.split-pane {
    -fx-border-width: 0 1 0 1;
    -fx-border-color: #272822;
    -fx-background-color: #272822;
}

/* Display Photo */

.display-photo-pane {
    -fx-font-family: "Open Sans Light";
    -fx-font-size: 31px;
}

/* Person List Card Cells */

.list-view {
    -fx-background-color: #272822;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-cell {
    -fx-label-padding: 0;
    -fx-graphic-text-gap: 0;
    -fx-padding: 0;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.list-cell:filled:even {
    -fx-background-color: #272822;
}

.list-cell:filled:odd {
    -fx-background-color: #3d3e35;
}

.list-cell:filled:selected {
    -fx-background-color: #378098;
}

/* Person List Card Fonts */

.cell_big_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 25px;
    -fx-text-fill: white;
    -fx-padding: 3 0 3 0;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-padding: 3 0 3 0;
}

/* Command Box & Result Display Box Background */

.anchor-pane {
    -fx-background-color: #272822;
}

.pane-with-border {
    -fx-background-color: #272822;
    -fx-border-top-width: 1px;
    -fx-border-width: 0 1 0 1;
    -fx-border-color: #272822;
}

/* Result Display Box */

.result-display {
    -fx-background-color: #4a4b40;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14pt;
    -fx-text-fill: white;
}

.result-display .label {
    -fx-text-fill: white !important;
}

/* Status Bar */

.status-bar {
    -fx-background-color: #131411;
    -fx-text-fill: white;
}

.status-bar .label {
    -fx-font-family: "Segoe UI";
    -fx-text-fill: white;
}

/* Grid Pane used by Status Bar Footer and Command Box */

.grid-pane {
    -fx-background-color: #131411;
    -fx-border-color: #131411;
    -fx-border-width: 5px;
}

.grid-pane .anchor-pane {
    -fx-background-color: #131411;
}

/* Context Menu */

.context-menu {
    -fx-background-color: derive(#d13438, 10%);
}

.context-menu .label {
    -fx-text-fill: white;
}

/* HBox containing Menu Bar and Window Buttons */

#rootHBox {
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
    -fx-background-color: #d13438;
}

/* Menu Bar */

.menu-bar {
    -fx-background-color: #d13438;
    -fx-border-radius: 10 0 0 0;
    -fx-background-radius: 10 0 0 0;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: white;
}

.menu:hover, .menu:showing {
    -fx-background-color: #d55b5e;
}

.menu-item:hover, .menu-item:focused {
    -fx-background-color: #d55b5e;
}

.menu-item:pressed {
    -fx-background-color: #f1707a;
}

/* Button */

.button {
    -fx-background-color: #d13438;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 15pt;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #d55b5e;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #f1707a;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #d13438;
    -fx-text-fill: white;
}

/* Dialog */

.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: black;
}

/* Scroll Bar */

.scroll-bar {
    -fx-background-color: #272822;
}

.scroll-bar .thumb {
    -fx-background-color: #d13438;
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 6 1 6;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 6 1 7 6;
}

/* Command Box */

#commandTextField {
    -fx-padding: 11 11 11 11;
    -fx-background-color: #4a4b40;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16pt;
    -fx-text-fill: white;
}

#commandTextField:focused {
    -fx-background-color: #626359;
}

/* Result Display Box */

#resultDisplay .content {
    -fx-background-color: #4a4b40;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

/* Person List Card Root HBox */

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

/* Tags */

#tags {
    -fx-hgap: 8;
    -fx-vgap: 4;
}

#tags .label {
    -fx-font-family: "Segoe UI Bold";
    -fx-font-size: 11pt;
    -fx-text-fill: white;
    -fx-padding: 2 8 3 8;
    -fx-background-color: #fc4465;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#favorite {
    -fx-image: url("../images/fav_icon_red.png");
}

/* Window Buttons */

#closeButton {
    -fx-background-image: url("../images/close.png");
    -fx-background-size: 35px 35px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-radius: 0 10 0 0;
    -fx-background-radius: 0 10 0 0;
}

#maximiseButton {
    -fx-background-image: url("../images/maximise.png");
    -fx-background-size: 35px 35px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#restoreButton {
    -fx-background-image: url("../images/restore.png");
    -fx-background-size: 35px 35px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#minimiseButton {
    -fx-background-image: url("../images/minimise.png");
    -fx-background-size: 35px 35px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
/* @@author */
